/**********************************************************************************************

	Title: CSS for xuedeisgn
	Author: Elmo Wu (by xuedesign studio)
	Date: 2014/09

***********************************************************************************************
		1 通用
		2.基本結構
		3.單元結構
		  3.1 頁首
		  3.2 賽事介紹 
		  3.3 旅行社行程
		  3.4 相關報導
		  3.5 會員獨家活動 		     		
***********************************************************************************************/


/* 1. 通用 
===============================================================================================*/
body{
	background:#fff;
	font-family: "微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:20px;
	color:#2c2c2c}
a:link {text-decoration:none; color:#1c5ad2}
a:visited {text-decoration:none; color:#8c8c8c}
a:hover {text-decoration:underline; color:#FD0D3A}
h1{ display:none}
form{margin:0; padding:0}
img{border:0}
.clean{ clear:both}
.hidden{ display:none} 


/* 2. 基本架構
===============================================================================================*/
#wrap{
	display:block;
	position: relative;
	width: 100%}
.section{
	display:block;
	position:relative;
	width:100%}	
.intro{
	display:block;
	width:994px;
	height:100%;
	background: #fff;
	margin:0 auto}
.box_title{
	display:block;
	width:938px;
	padding:47px 0 0 56px}
.box_title h2{
	display:block;
	float:left;
	height:69px;
	text-indent:-9999px}
.bar_share{
	display:block;
	float:right;
	width:243px;
	height:46px;
	background:url(../images/bg_sharebar.png) 8px 0 no-repeat;
	padding:23px 0 0 180px;
	text-align:left}
.bar_share span{
	float:left;
	font-size:1em;
	line-height:20px;
	color:#FFF;
	font-weight:bold;
	padding-right:15px}			


/*主選單*/
nav{
	display:block;
	position:fixed;
	top:8%;
	left:0;
	z-index:99;
	background: url(../images/bg_nav.png) no-repeat;
	width:231px;
	height:692px}
#menu{
	display:block;
	padding-top:26px}	
#menu li{display:block}
.nav_01 a, .nav_01 a:hover, .nav_01.active{
	display:block;
	background:url(../images/btn_flag.png) no-repeat;
	width:231px;
	height:183px;
	text-indent:-9999px}
.nav_02 a, .nav_03 a, .nav_04 a, .nav_05 a{
	display:block;
	width:160px;
	height:99px;
	text-indent:-9999px}
.nav_02 a{ background:url(../images/bg_navlist.png) 0 0 no-repeat}
.nav_02 a:hover, .nav_02.active{ background:url(../images/bg_navlist.png) -160px 0 no-repeat}
.nav_03 a{ background:url(../images/bg_navlist.png) 0 -99px no-repeat}
.nav_03 a:hover, .nav_03.active{ background:url(../images/bg_navlist.png) -160px -99px no-repeat}	
.nav_04 a{ background:url(../images/bg_navlist.png) 0 -198px no-repeat}
.nav_04 a:hover, .nav_04.active{ background:url(../images/bg_navlist.png) -160px -198px no-repeat}	
.nav_05 a{ background:url(../images/bg_navlist.png) 0 -297px no-repeat}
.nav_05 a:hover, .nav_05.active{ background:url(../images/bg_navlist.png) -160px -297px no-repeat}

/*側邊小圓點*/
.nowin{
	display:block;
	position:absolute;
	top:45%;
	right:24px;
	background: url(../images/bg_nowin.png) no-repeat;
	width:15px;
	height:98px;
	text-indent:-9999px}
.in_01{ background-position: 0 0}
.in_02{ background-position: -15px 0}
.in_03{ background-position: -30px 0}
.in_04{ background-position: -45px 0}
.in_05{ background-position: -60px 0}

/*#section1 img{
	left: 130%;
	position:relative}
#section1 p{
	visibility:hidden}
#section2 .intro{
	left: -130%;
	position:relative}*/
		
/* 3. 單元架構
===============================================================================================*/
/*3.1 頁首*/
#banner{ background:url(../images/bg_banner.jpg); background-size:cover}
#banner h2, #banner h3, #banner h4, #banner p{
	display:block;
	position:absolute;
	text-indent:-9999px}
#banner h2{
	bottom:269px;
	right:280px;
	background:url(../images/bg_banner-h2.png) no-repeat;
	width:319px;
	height:103px}
#banner h3{
	bottom:104px;
	right:41px;
	background:url(../images/bg_banner-h3.png) no-repeat;
	width:469px;
	height:283px}
#banner h4{
	bottom:39px;
	right:193px;
	background: url(../images/bg_banner-h4.png) no-repeat;
	width:653px;
	height:37px}	
#banner p{
	top:24px;
	right:31px;
	background:url(../images/bg_banner-p.png) no-repeat;
	width:152px;
	height:73px}
#banner .box_share{
	display:block;
	position:absolute;
	right:50px;
	bottom:45px}	

/*3.2 賽事介紹*/ 
#about{ background:url(../images/bg_about.jpg); background-size:cover}
.bg_01, .bg_04{ background:url(../images/bg_intro-01.jpg); background-size:cover}
#about h2, #travel h2, #news h2, #event h2{ background: url(../images/bg_pagetitle.png) no-repeat}
#about h2{ width:306px; background-position:0 0}
.raceinfo{
	display:block;
	width:788px;
	margin:0 auto;
	font-size:1em;
	line-height:25px;
	color:#0e0e0e}
.raceinfo a{ padding-left:10px}
.raceinfo a:visited{}
.raceinfo a:hover{}

/*3.3 旅行社行程*/
#travel{ background:url(../images/bg_travel.jpg); background-size:cover}
.bg_02{ background:url(../images/bg_intro-02.jpg); background-size:cover}
#travel h2{ width:305px; background-position: 0 -69px}

/*3.4 相關報導*/
#news{ background:url(../images/bg_news.jpg); background-size:cover}
.bg_03{ background:url(../images/bg_intro-03.jpg); background-size:cover}
#news h2{ width:274px; background-position: 0 -138px}

/*3.5 會員獨家活動*/ 
#event{ background:url(../images/bg_event.jpg); background-size:cover}
#event h2{ width:369px; background-position: 0 -207px}			